<!DOCTYPE html>
<html>
<head>
	<title>10 Juta dari Dropship</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/vendor/medium/medium.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/app/style.css">
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
				<a href="{{ site.url }}" class="navbar-brand top ellipsis">
					{% if page.date %}
						{{ page.title | slice: 3, 1000 }}
					{% else %}
						10 Juta dari Dropship
					{% endif %}
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a target="_blank" href="https://play.google.com/store/apps/dev?id=6751907367958089476">Aplikasi Lainnya</a></li>
		        <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.mzaini30.sepuluhjutadaridropship">Review</a></li>
		      </ul>
		    </div>
		</div>
	</div>
	<div class="container">
		{{ content }}
	</div>
	<br>
	<script type="text/javascript" src="{{ site.url }}/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/vendor/bootstrap/js/bootstrap.min.js"></script>
	{% if page.date %}
		<script type="text/javascript">
			localStorage.setItem('posisi', '{{ page.url }}')
		</script>
	{% endif %}
	{% if page.section == 'index' %}
		<script type="text/javascript">
			posisi = localStorage.getItem('posisi')
			$('.list-group-item').each(function(){
				if ($(this).data('url') == posisi){
					$(this).addClass('active')
				}
			})
		</script>
	{% endif %}
	<script type="text/javascript">
		posisi_scroll = localStorage.getItem('posisi {{ page.url }}')
		$('html, body').animate({
			scrollTop: posisi_scroll
		}, 700)
		$(window).scroll(function(){
			localStorage.setItem('posisi {{ page.url }}', $(window).scrollTop())
		})
	</script>
</body>
</html>